@font-face {
  font-family: "FiraSans-Light";
  src: url("../fonts/FiraSans-Light.ttf");
}
body {
  font-family: FiraSans-Light, sans-serif;
  padding-left: 2%;
}
h1 {
  font-family: FiraSans-Light, sans-serif;
  font-size: 1.5em;
}
h2 {
  margin-top: 1em;
  margin-bottom: 1em;
}
.header {
  text-align: center;
}
.header p {
  padding-left: 0%;
}
